<nav class="navbar navbar-expand-lg navbar-dark mt-3 d-none d-md-block">
	<div class="container-fluid justify-content-end">
		<form class="d-flex d-none d-md-flex">
			<input class="form-control me-sm-2" type="search" placeholder="Rechercher">
			<button class="btn btn-secondary my-2 my-sm-0" type="submit">
				<i class="fa-solid fa-magnifying-glass"></i>
			</button>
		</form>
		<form class="nav-item dropdown d-flex dropwdown d-md-none d-lg-none tailleNavBar mr-5">
			<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				<i class="fa-solid fa-magnifying-glass"></i>
			</a>
			<div class="dropdown-menu">
				<input class="form-control me-sm-2 dropwdown-item" type="search" placeholder="Rechercher">
			</div>
		</form>
		<a class="nav-link tailleNavBar" href="{{ path('panier_index') }}">
			<div class="d-flex align-items-center">
				<i class="fa-solid fa-basket-shopping"></i>
				<p class="fw-bold m-0 px-2">{{ totalProduit(app.session) }}</p>
			</div>
		</a>
		{% if is_granted('ROLE_USER') %}
            <a class="nav-link tailleNavBar ml-5" href="{{ path('app_user_show', {'id': app.user.id}) }}">{{ app.user.pseudo}}</a>
            <a class="nav-link tailleNavBar ml-5" href="{{ path('security.logout') }}">Se déconnecter </a>
		{% else %}
			<a class="nav-link tailleNavBar ml-5" href="{{ path('security.login') }}">Se connecter</a>
		{% endif %}


	</div>
</nav>

<div class="container-fluid d-none d-md-block">
	<div class="row my-5 pb-5">
		<div class="offset-1 col-2">
			<a href="{{ path('app_index') }}"><img class="rounded-circle logoEchoppe" src="https://live.staticflickr.com/65535/50396098058_ac12a37fbc_o.gif"></a>
		</div>
		<div class="col-5">
			<h1 class="mt-2 mx-0" style="font-size: 8vw;">
				<a class="nav-link" href="{{ path('app_index') }}">L'Echoppe</a>
			</h1>
		</div>
		<div class="col-3">
			<p class="mt-5" style="font-size: 2vw;">
				<a class="nav-link" href="index.html">La boutique favorite des aventuriers</a>
			</p>
		</div>
	</div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark d-md-none">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_index') }}"><img class="rounded-circle logoEchoppe" src="https://live.staticflickr.com/65535/50396098058_ac12a37fbc_o.gif"></a>
		<h1 class="mt-2">
			<a class="nav-link titreEchoppe" href="{{ path('app_index') }}">L'Echoppe</a>
		</h1>

		<ul class="navbar-nav me-md-auto tailleNavBar">
			<li class="nav-item">
				<a class="nav-link active" href="#">Catégorie
					<span class="visually-hidden">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Sous-catégorie</a>
			</li>

		</ul>

		<form class="d-flex d-none d-md-flex">
			<input class="form-control me-sm-2" type="search" placeholder="Rechercher">
			<button class="btn btn-secondary my-2 my-sm-0" type="submit">
				<i class="fa-solid fa-magnifying-glass"></i>
			</button>
		</form>
		<form class="nav-item dropdown d-flex dropwdown d-md-none d-lg-none tailleNavBar mr-5">
			<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				<i class="fa-solid fa-magnifying-glass"></i>
			</a>
			<div class="dropdown-menu">
				<input class="form-control me-sm-2 dropwdown-item" type="search" placeholder="Rechercher">
			</div>
		</form>
		<a class="nav-link tailleNavBar" href="{{ path('panier_index') }}">
			<div class="d-flex align-items-center">
				<i class="fa-solid fa-basket-shopping"></i>
				<p class="fw-bold m-0 px-2">{{ totalProduit(app.session) }}</p>
			</div>
		</a>

		{% if is_granted('ROLE_USER') %}
            <a class="nav-link tailleNavBar ml-5" href="{{ path('app_user_show', {'id': app.user.id}) }}">{{ app.user.pseudo}}</a>
            <a class="nav-link tailleNavBar ml-5" href="{{ path('security.logout') }}">Se déconnecter </a>
		{% else %}
			<a class="nav-link tailleNavBar ml-5" href="{{ path('security.login') }}">Se connecter</a>
		{% endif %}

	</div>
</nav>