        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_index') }}"><img class="rounded-circle logoEchoppeExplo"
                        src="https://live.staticflickr.com/65535/50396098058_ac12a37fbc_o.gif"></a>
                <h1 class="mt-2"><a class="nav-link titreEchoppe" href="{{ path('app_index') }}">L'Echoppe</a></h1>

                <ul class="navbar-nav me-md-auto tailleNavBar">
                    {% if categorie is defined %}
                        {% for element in categorie.getcategoriesParents %}
                            <li class="nav-item">
                                <a href="/categorie/ssCat/{{element.id}}" class="nav-link">{{ element.nomCategorie }}</a>
                            </li>
                        {% endfor %}
                            <li class="nav-item">
                                <a href="/categorie/ssCat/{{categorie.id}}" class="nav-link">{{ categorie.nomCategorie }}</a>
                            </li>
                    {% endif %}
                    {% if produit is defined %}
                        {% for element in produit.getCategories %}
                            <li class="nav-item">
                                <a href="/categorie/ssCat/{{element.id}}" class="nav-link">{{ element.nomCategorie }}</a>
                            </li>
                        {% endfor %}
                        <li class="nav-item">
                                <a class="nav-link">{{ produit.nomProduit }}</a>
                            </li>
                    {% endif %}
                </ul>

		{# Formulaire de recherche #}
		{{ render(controller("App\\Controller\\SearchBarController::index")) }}
		{# Fin du formulaire #}

                <form class="nav-item dropdown d-flex dropwdown d-md-none d-lg-none tailleNavBar mr-5">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-magnifying-glass"></i></a>
                    <div class="dropdown-menu">
                        <input class="form-control me-sm-2 dropwdown-item" type="search" placeholder="Rechercher">
                    </div>
                </form>
                <a class="nav-link tailleNavBar" href="{{ path('panier_index') }}">
                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-basket-shopping"></i>
                        <p class="fw-bold m-0 px-2">{{ totalProduit(app.session) }}</p>
                    </div>
                </a>

                {% if is_granted('ROLE_USER') %}
            <a class="nav-link tailleNavBar ml-5" href="{{ path('app_user_show', {'id': app.user.id}) }}">{{ app.user.pseudo}}</a>
            <a class="nav-link tailleNavBar ml-5" href="{{ path('security.logout') }}">Se déconnecter </a>
		{% else %}
			<a class="nav-link tailleNavBar ml-5" href="{{ path('security.login') }}">Se connecter</a>
		{% endif %}

            </div>
        </nav>