{% extends 'baseIndex.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}
	<section>
		<div class="container-fluid">
			<div class="row mt-5">
			{# La variable x va permettre d'afficher le bon css.
				Quand x = 0, cela revient à la première colonne (avec un offset)
				Quand x = 1 ou 2, cela correspond aux colonnes du mileu
				Quand x = 3, identique à 1 et 2, mais permet de ré-initialiser la variable pour recommencer la boucle #}
				{% set x = 0 %}
				{% for categorie in sousCategories %}
					{% if x == 0 %}
						<div class="offset-md-2 col-md-2 col-6">
						{% endif %}
						{% if x > 0 and x < 3 %}
							<div class="md-2 col-md-2 col-6">
							{% endif %}
							{% if x == 3 %}
								{% set x = -1 %}
								<div class="md-2 col-md-2 col-6">
								{% endif %}
								{% set x = x + 1 %}
								<div>
									<a href="{{ path('app_SSCategorie_show', {'categorie': categorie.id}) }}" class="column" id="imgCategorie">
										<figure>
											<span class="text">
												<h1>{{categorie.nom_categorie}}</h1>
											</span><img src="/images/categorie/{{categorie.image_name}}"></figure>
									</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</section>
			<section>
				<div class="container-fluid d-none d-md-block d-lg-block d-xl-block">
					{% set y = 0 %}
					{% for produit in produits %}
							{% if y == 0 %}
							<div class="row my-5" style="height: 300px" ;>
								<div class="offset-1 col-2">
							{% endif %}
							{% if y > 0 and y < 5 %}
								<div class="col-2">
							{% endif %}
							{% if y == 5 %}
								<div class="col-2">
							{% endif %}
								{% set y = y + 1 %}
									<a class="column" id="imgProduit" href="{{ path('app_produit_show', {'id': produit.id}) }}">
										{% if produit.photos.first() %}
										<div class="h-100" style="background-image: url(/images/photo/{{produit.photos.first().imageName}}); background-repeat: round;">
											<div class="textProduit">
												<h1>{{produit.nomProduit}}</h1>
											</div>
										</div>{% endif %}
									</a>
								</div>
							{% if y == 5 %}
								{% set y = 0 %}
								</div>
							{% endif %}
							{% endfor %}
							</div>
						</div>
					</section>
				{% endblock %}
