{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>NomProduit</th>
                <td>{{ produit.nomProduit }}</td>
            </tr>
            <tr>
                <th>DescriptionProduit</th>
                <td>{{ produit.descriptionProduit }}</td>
            </tr>
            <tr>
                <th>PrixProduit</th>
                <td>{{ produit.prixProduit }}</td>
            </tr>
            <tr>
                <th>TvaProduit</th>
                <td>{{ produit.tvaProduit }}</td>
            </tr>
            <tr>
                <th>RefProduit</th>
                <td>{{ produit.refProduit }}</td>
            </tr>
            <tr>
                <th>IsOnline</th>
                <td>{{ produit.isOnline ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_produit_index') }}">back to list</a>

    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
