{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Identité du client</th>
                <th>Adresse de facturation</th>
                <th>Adresse de livraison</th>
                <th>Reduction</th>
                <th>Reglement</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.nomClient }} {{ commande.prenomClient }}</td>
                <td>{{ commande.adresseFacture }}</td>
                <td>{{ commande.adresseLivraison }}</td>
                <td>{{ commande.reduction }}</td>
                <td>{{ commande.reglement }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
